In [1]:
library(tidyverse)
library(repr)
library(tidymodels)
library(GGally)
library(ISLR)
library(readr)
library(cowplot)

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.4     ✔ readr     2.1.5
✔ forcats   1.0.0     ✔ stringr   1.5.1
✔ ggplot2   3.5.1     ✔ tibble    3.2.1
✔ lubridate 1.9.3     ✔ tidyr     1.3.1
✔ purrr     1.0.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors
── Attaching packages ────────────────────────────────────── tidymodels 1.1.1 ──

✔ broom        1.0.6     ✔ rsample      1.2.1
✔ dials        1.3.0     ✔ tune         1.1.2
✔ infer        1.0.7     ✔ workflows    1.1.4
✔ modeldata    1.4.0     ✔ workflowsets 1.0.1
✔ parsnip      1.2.1     ✔ yardstick    1.3.1
✔ recipes      1.1.0

── Conflicts ───────────────────────────────────────── tidymodels_conflicts() ──
✖ scales::discard() masks purrr::discard()
✖ dplyr::filter()   masks stats::filter()
✖ recipes::fixed()  masks stringr::fixed()
✖ dplyr::lag()      masks stats::lag()
✖ yardstick::spec() masks readr::spec()
✖ recipes::step()   masks stats::step()
• Use tidymodels_prefer() to resolve common conflicts.

Registered S3 method overwritten by 'GGally':
  method from
  +.gg   ggplot2


Attaching package: ‘cowplot’


The following object is masked from ‘package:lubridate’:

    stamp

In [2]:
options(repr.matrix.max.rows = 10)
# Importing both CSV files into R and loading them
url_players <- "https://drive.google.com/uc?export=download&id=1Mw9vW0hjTJwRWx0bDXiSpYsO3gKogaPz"
url_sessions <- "https://drive.google.com/uc?export=download&id=14O91N5OlVkvdGxXNJUj5jIsV5RexhzbB"
players <- read_csv(url_players)
sessions <- read_csv(url_sessions)
players
sessions

Rows: 196 Columns: 9
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (4): experience, hashedEmail, name, gender
dbl (2): played_hours, age
lgl (3): subscribe, individualId, organizationName

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 1535 Columns: 5
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (3): hashedEmail, start_time, end_time
dbl (2): original_start_time, original_end_time

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

    experience subscribe
1   Pro         TRUE
2   Veteran     TRUE
3   Veteran    FALSE
4   Amateur     TRUE
5   Regular     TRUE
⋮   ⋮          ⋮
192 Amateur     TRUE
193 Veteran    FALSE
194 Amateur    FALSE
195 Amateur    FALSE
196 Pro         TRUE
    hashedEmail
1   f6daba428a5e19a3d47574858c13550499be23603422e6a0ee9728f8b53e192d
2   f3c813577c458ba0dfef80996f8f32c93b6e8af1fa939732842f2312358a88e9
3   b674dd7ee0d24096d1c019615ce4d12b20fcbff12d79d3c5a9d2118eb7ccbb28
4   23fe711e0e3b77f1da7aa221ab1192afe21648d47d2b4fa7a5a659ff443a0eb5
5   7dc01f10bf20671ecfccdac23812b1b415acd42c2147cb0af4d48fcce2420f3e
⋮   ⋮
192 b6e9e593b9ec51c5e335457341c324c34a2239531e1890b93ca52ac1dc76b08f
193 71453e425f07d10da4fa2b349c83e73ccdf0fb3312f778b35c5802c3292c87bd
194 d572f391d452b76ea2d7e5e53a3d38bfd7499c7399db299bd4fedb06a46ad5bb
195 f19e136ddde68f365afc860c725ccff54307dedd13968e896a9f890c40aea436
196 d9473710057f7d42f36570f0be83817a4eea614029ff90cf50d8889cdd729d11
    played_hours name      gender            age individualId organizationName
1   30.3         Morgan    Male               9  NA           NA
2    3.8         Christian Male              17  NA           NA
3    0.0         Blake     Male              17  NA           NA
4    0.7         Flora     Female            21  NA           NA
5    0.1         Kylie     Male              21  NA           NA
⋮   ⋮            ⋮         ⋮                 ⋮   ⋮            ⋮
192 0.0          Bailey    Female            17  NA           NA
193 0.3          Pascal    Male              22  NA           NA
194 0.0          Dylan     Prefer not to say 17  NA           NA
195 2.3          Harlow    Male              17  NA           NA
196 0.2          Ahmed     Other             91  NA           NA

     hashedEmail
1    bfce39c89d6549f2bb94d8064d3ce69dc3d7e72b38f431d8aa0c4bf95ccee6bf
2    36d9cbb4c6bc0c1a6911436d2da0d09ec625e43e6552f575d4acc9cf487c4686
3    f8f5477f5a2e53616ae37421b1c660b971192bd8ff77e3398304c7ae42581fdc
4    bfce39c89d6549f2bb94d8064d3ce69dc3d7e72b38f431d8aa0c4bf95ccee6bf
5    36d9cbb4c6bc0c1a6911436d2da0d09ec625e43e6552f575d4acc9cf487c4686
⋮    ⋮
1531 36d9cbb4c6bc0c1a6911436d2da0d09ec625e43e6552f575d4acc9cf487c4686
1532 7a4686586d290c67179275c7c3dfb4ea02f4d317d9ee0e2cee98baa27877a875
1533 fd6563a4e0f6f4273580e5fedbd8dda64990447aea5a33cbb5e894a3867ca44d
1534 fd6563a4e0f6f4273580e5fedbd8dda64990447aea5a33cbb5e894a3867ca44d
1535 36d9cbb4c6bc0c1a6911436d2da0d09ec625e43e6552f575d4acc9cf487c4686
     start_time       end_time         original_start_time original_end_time
1    30/06/2024 18:12 30/06/2024 18:24 1.71977e+12         1.71977e+12
2    17/06/2024 23:33 17/06/2024 23:46 1.71867e+12         1.71867e+12
3    25/07/2024 17:34 25/07/2024 17:57 1.72193e+12         1.72193e+12
4    25/07/2024 03:22 25/07/2024 03:58 1.72188e+12         1.72188e+12
5    25/05/2024 16:01 25/05/2024 16:12 1.71665e+12         1.71665e+12
⋮    ⋮                ⋮                ⋮                   ⋮
1531 10/05/2024 23:01 10/05/2024 23:07 1.71538e+12         1.71538e+12
1532 01/07/2024 04:08 01/07/2024 04:19 1.71981e+12         1.71981e+12
1533 28/07/2024 15:36 28/07/2024 15:57 1.72218e+12         1.72218e+12
1534 25/07/2024 06:15 25/07/2024 06:22 1.72189e+12         1.72189e+12
1535 20/05/2024 02:26 20/05/2024 02:45 1.71617e+12         1.71617e+12

In [3]:
# Tidying up the sessions dataset 
sessions_tidy <- sessions |>
select(hashedEmail, start_time, end_time) |>
filter(na.rm = TRUE)
# Since we only need the average session time per user, let's calculate that.
sessions_tidy <- sessions_tidy |> 
mutate(start_time_numeric = as.numeric(as.POSIXct(start_time, format="%d/%m/%Y  %H:%M"))) |>
mutate(end_time_numeric = as.numeric(as.POSIXct(end_time, format="%d/%m/%Y  %H:%M"))) |>
mutate(session_length = (end_time_numeric - start_time_numeric)/60)
average_session_length <- sessions_tidy |>
group_by(hashedEmail) |>
summarise(average_session_time = mean(session_length, na.rm = TRUE))
# Moving the average_session_length column to the players dataset (SOURCE: https://stat545.com/join-cheatsheet.html - from the "Additional Resources" section of Chapter 3 in the book)
players_merged <- inner_join(players, average_session_length, join_by(hashedEmail))
players_merged

    experience subscribe
1   Pro         TRUE
2   Veteran     TRUE
3   Veteran    FALSE
4   Amateur     TRUE
5   Regular     TRUE
⋮   ⋮          ⋮
121 Veteran     TRUE
122 Veteran    FALSE
123 Amateur    FALSE
124 Amateur    FALSE
125 Pro         TRUE
    hashedEmail
1   f6daba428a5e19a3d47574858c13550499be23603422e6a0ee9728f8b53e192d
2   f3c813577c458ba0dfef80996f8f32c93b6e8af1fa939732842f2312358a88e9
3   b674dd7ee0d24096d1c019615ce4d12b20fcbff12d79d3c5a9d2118eb7ccbb28
4   23fe711e0e3b77f1da7aa221ab1192afe21648d47d2b4fa7a5a659ff443a0eb5
5   7dc01f10bf20671ecfccdac23812b1b415acd42c2147cb0af4d48fcce2420f3e
⋮   ⋮
121 ba24bebe588a34ac546f8559850c65bc90cd9d51b821581bd6e25cff437a1081
122 71453e425f07d10da4fa2b349c83e73ccdf0fb3312f778b35c5802c3292c87bd
123 d572f391d452b76ea2d7e5e53a3d38bfd7499c7399db299bd4fedb06a46ad5bb
124 f19e136ddde68f365afc860c725ccff54307dedd13968e896a9f890c40aea436
125 d9473710057f7d42f36570f0be83817a4eea614029ff90cf50d8889cdd729d11
    played_hours name      gender            age individualId organizationName
1   30.3         Morgan    Male               9  NA           NA
2    3.8         Christian Male              17  NA           NA
3    0.0         Blake     Male              17  NA           NA
4    0.7         Flora     Female            21  NA           NA
5    0.1         Kylie     Male              21  NA           NA
⋮   ⋮            ⋮         ⋮                 ⋮   ⋮            ⋮
121 0.1          Gabriela  Female            44  NA           NA
122 0.3          Pascal    Male              22  NA           NA
123 0.0          Dylan     Prefer not to say 17  NA           NA
124 2.3          Harlow    Male              17  NA           NA
125 0.2          Ahmed     Other             91  NA           NA
    average_session_time
1   74.77778
2   85.00000
3    5.00000
4   50.00000
5    9.00000
⋮   ⋮
121 11.00000
122 21.00000
123  5.00000
124 29.83333
125 15.00000

In [17]:
# Tidying up the players dataset
players_tidy <- players_merged |>
select(experience, hashedEmail, played_hours, gender, age, average_session_time) |>
filter(na.rm = TRUE) |>
relocate(experience, .after = gender) |>
relocate(age, .after = played_hours) |>
arrange(desc(played_hours)) |>
mutate(gender = as.numeric((as_factor(gender)))) |>
mutate(experience = as.numeric((as_factor(experience))))
players_tidy

    hashedEmail
1   bfce39c89d6549f2bb94d8064d3ce69dc3d7e72b38f431d8aa0c4bf95ccee6bf
2   b622593d2ef8b337dc554acb307d04a88114f2bf453b18fb5d2c80052aeb2319
3   ad6390295640af1ed0e45ffc58a53b2d9074b0eea694b16210addd44d7c81f83
4   f8f5477f5a2e53616ae37421b1c660b971192bd8ff77e3398304c7ae42581fdc
5   fd6563a4e0f6f4273580e5fedbd8dda64990447aea5a33cbb5e894a3867ca44d
⋮   ⋮
121 a2a0612e9a7da558cbac2ee3c816740324505a69a6e042c94aa1b67731f9ff01
122 2cfed571797b66cc810c32562fc5b0f70b5bec0f5250799245527135bbf9662e
123 bda1905e54b6c745bcced9d59ce655a5bfd03c35cc6abdd8d1610e5c416f79d1
124 7b17513f11968feaf6b02977885c436dc2a4549489ca25ef03022f9fbae19d81
125 d572f391d452b76ea2d7e5e53a3d38bfd7499c7399db299bd4fedb06a46ad5bb
    played_hours age gender experience average_session_time
1   223.1        17  1      1           66.99087
2   218.1        20  2      1          150.34043
3   178.2        19  3      1           80.45578
4   150.0        16  3      2           62.55975
5    56.1        23  1      2           15.46774
⋮   ⋮            ⋮   ⋮      ⋮          ⋮
121 0            18  1      1          6
122 0            16  1      2          6
123 0            17  1      2          5
124 0            50  1      1          5
125 0            17  5      2          5

In [12]:
# Splitting the data into test and training splits
set.seed(3500) #DO NOT CHANGE
players_split <- initial_split(players_tidy, prop = 0.75, strata = played_hours)
players_training <- training(players_split)
players_testing <- testing(players_split)

   hashedEmail
1  8b71f4d66a38389b7528bb38ba6eb71157733df7d1740371852a797ae97d82d1
2  951e54f7376e2b2f0915e9e3646c701af4a2fe839385b13f9e0084b08f8070bd
3  710148466b44cb02ba894aa9005a4892e619250ebd01153055d6c7578fc1ea10
4  f1b432523542f90c61176a555ccb2144468d76c91a32d74082ab8c101f9d25b6
5  577aa5f15468252b1c6f32dcd515012923476292e30f95e6b4128c770e993f92
⋮  ⋮
89 a1e0438d568b9c05a93cadaf99969e4d44794d19dea31edd723cbc916f878c33
90 f19e136ddde68f365afc860c725ccff54307dedd13968e896a9f890c40aea436
91 96e190b0bf3923cd8d349eee467c09d1130af143335779251492eb4c2c058a5f
92 d46bd29a2ed08e3500bd8729085ef4b6f0ca65baf4c756f88b6bedf7a18e0352
93 7a4686586d290c67179275c7c3dfb4ea02f4d317d9ee0e2cee98baa27877a875
   played_hours age gender            experience average_session_time
1  0.1          17  Male              Amateur    13
2  0.1          18  Male              Veteran    10
3  0.1          23  Male              Amateur     8
4  0.1          21  Male              Veteran    13
5  0.1          17  Male              Veteran    10
⋮  ⋮            ⋮   ⋮                 ⋮          ⋮
89 2.7          21  Non-binary        Veteran     59.33333
90 2.3          17  Male              Amateur     29.83333
91 2.0          27  Prefer not to say Beginner    21.00000
92 1.7          17  Male              Pro        110.00000
93 1.6          23  Female            Veteran     38.33333

In [13]:
# Creating the recipe and K-nearest neighbours function
players_spec <- nearest_neighbor(weight_func = "rectangular", neighbors = tune()) |> 
       set_engine("kknn") |>
       set_mode("regression")
players_recipe <- recipe(played_hours ~ age + gender + experience + average_session_time, data = players_training) |>
step_scale(all_predictors()) |>
step_center(all_predictors())

In [14]:
set.seed(2499) # DO NOT CHANGE 
players_vfold <- vfold_cv(players_training, v = 5, strata = played_hours)
players_workflow <- workflow() |>
add_recipe(players_recipe) |>
add_model(players_spec)

In [15]:
set.seed(2024) # DO NOT CHANGE 
gridvals <- tibble(neighbors = seq(from = 1, to = 99, by = 3))

players_results <- players_workflow |>
tune_grid(resamples = players_vfold, grid = gridvals) |>
collect_metrics()
players_results

→ A | error:   Error in `step_scale()`:
               Caused by error in `prep()`:
               ✖ All columns selected for the step should be double or integer.
               • 2 factor variables found: `gender` and `experience`

There were issues with some computations   A: x1

There were issues with some computations   A: x5



Warning message:
“All models failed. Run `show_notes(.Last.tune.result)` for more information.”

ERROR: Error in `estimate_tune_results()`:
! All models failed. Run `show_notes(.Last.tune.result)` for more information.